$main-blue: #191928;
$light-blue: #236BFD;
$light-gray: #F0F0F0;

.what{
  height: 400px;
  width: 65%;
  margin: 0em auto 5em auto;
  box-shadow: 0px 1px 10px 2px rgba(0, 0, 255, .2);
  border-radius: 25px;
  background-color: $main-blue;
  background-image: url("../images/bg-man.png");
  background-position: right bottom;
  background-size: 90%;
  background-repeat: no-repeat;
  color: white;

  &__caption{
    height: 50%;
    width: 50%;
    margin-left: 5em;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h1{
      margin-top: 4em;
      margin-bottom: .5em;
      font-size: 40px;
    }

    p{
      font-size: 20px;
    }
  }
}

.learn{
  height: 300px;
  width: 45%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__logo{
    width: 450px;
    height: 200px;
    box-shadow: 0px 1px 10px 2px rgba(0, 0, 255, .2);
    border-radius: 10px;
    background-image: url("../images/github-black.png");
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
  }

  &__content{
    width: 40%;

    h1{
      margin-bottom: .5em;
    }

    p{
      margin-bottom: 1.5em;
      color: #4f4f4f;
    }

    a{
      border-radius: 40px;
      padding: .5em 1em;
      text-decoration: none;
      color: white;
      background-color: $light-blue;
      transition: .5s;

      &:hover{
        background-color: darken($light-blue, 20);
      }
    }
  }
}

@media only screen and (max-width:500px) {
  /* For mobile phones: */

  .what{
    height: 200px;
    width: 90vw;
    background-size: 120%;
    margin-bottom: 1em;

    &__caption{
      width: 40%;
      margin-left: 2em;

      h1{
        margin-top: 4em;
        margin-bottom: .5em;
        font-size: 20px;
      }

      p{
        font-size: 10px;
      }
    }
  }

  .learn{
    height: 200px;
    width: 80%;

    &__logo{
      width: 60%;
      height: 50%;
      background-size: 130%;
    }

    &__content{
      width: 35%;

      h1{
        margin-bottom: .5em;
        font-size: 18px;
      }

      p{
        margin-bottom: 1.5em;
        font-size: 12px;
        color: #4f4f4f;
        position: absolute;
        left: -1000px;
      }

      a{
        border-radius: 40px;
        padding: 5px 10px;
        font-size: 12px;
      }
    }
  }
}

@media only screen and (max-width:1600px)  and (min-width: 1024px){
  /* For 1280x720: */

  .what{
    height: 300px;
    width: 75%;

    &__caption{
      h1{
        font-size: 30px;
      }

      p{
        font-size: 18px;
      }
    }
  }

  .learn{
    height: 300px;
    width: 65%;

    &__logo{
      width: 50%;
      height: 80%;
      background-color: black;
      background-size: 120%;
    }

    &__content{
      h1{
        font-size: 30px;
      }

      p{
        font-size: 15px;
      }

      a{
        font-size: 15px;
      }
    }
  }
}