.notifier {
  width: 65%;
  margin: 0 auto 2em auto;
  display: flex;
  justify-content: space-between;
}
.notifier p {
  margin: 0em 2em;
  font-size: 18px;
  color: #4f4f4f;
}
.notifier span {
  font-weight: 700;
}

.job {
  height: 150px;
  width: 65%;
  margin: 0em auto 2em auto;
  box-shadow: 0px 1px 5px 1px rgba(0, 0, 255, 0.2);
  border-radius: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  transition: 0.3s;
}
.job__left {
  height: 70%;
  width: 50%;
  margin-left: 7em;
  display: flex;
  align-items: center;
}
.job__left-company {
  max-height: 80px;
  width: 80px;
  margin-right: 40px;
}
.job__left-title {
  font-size: 24px;
  color: #236BFD;
}
.job__right {
  height: 70%;
  margin-right: 7em;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.job__right p {
  width: 250px;
}
.job__right-company-name {
  margin-bottom: 0.5em;
  font-size: 13px;
  color: #4f4f4f;
}
.job__right-location {
  margin-bottom: 0.5em;
  font-size: 13px;
  color: #4f4f4f;
}
.job__right-type {
  font-size: 13px;
  color: #4f4f4f;
}
.job:focus {
  outline: none;
}
.job:hover {
  background-color: #fafafa;
  transform: scale(1.03);
}

.pager {
  width: 500px;
  height: 100px;
  margin: 4em auto 0em auto;
}
.pager p {
  margin: auto;
  font-size: 18px;
  text-align: center;
}
.pager a {
  text-align: center;
  margin-left: 1.5em;
  text-decoration: none;
  color: #236BFD;
}

@media only screen and (max-width: 500px) {
  /* For mobile phones: */
  .notifier {
    width: 90%;
    margin: 0 auto 2em auto;
  }
  .notifier p {
    margin: 0em 1em;
    font-size: 12px;
  }

  .job {
    height: 80px;
    width: 90%;
    border-radius: 15px;
    margin: 0em auto 1.5em auto;
  }
  .job__left {
    height: 70%;
    width: 55%;
    margin-left: 1.5em;
  }
  .job__left-company {
    max-height: 40px;
    width: 40px;
    margin-right: 20px;
  }
  .job__left-title {
    font-size: 12px;
  }
  .job__right {
    height: 70%;
    margin-right: 1em;
  }
  .job__right p {
    width: 100px;
  }
  .job__right-company-name {
    margin-bottom: 0.5em;
    font-size: 8px;
  }
  .job__right-location {
    position: absolute;
    left: -1000px;
  }
  .job__right-type {
    font-size: 8px;
  }

  .pager {
    width: 70%;
    height: 50px;
    margin: 4em auto 0em auto;
  }
  .pager p {
    font-size: 12px;
  }
  .pager a {
    margin-left: 1em;
  }
}
@media only screen and (max-width: 1600px) and (min-width: 1024px) {
  /* For 1280x720: */
  .notifier {
    width: 65%;
  }
  .notifier p {
    font-size: 15px;
  }

  .job__left {
    height: 70%;
    width: 50%;
    margin-left: 2.4em;
  }
  .job__left-title {
    font-size: 18px;
  }
  .job__right {
    height: 70%;
    margin-right: 2em;
  }
  .job__right p {
    width: 220px;
  }
  .job__right-company-name {
    font-size: 12px;
  }
  .job__right-location {
    font-size: 12px;
  }
  .job__right-type {
    font-size: 12px;
  }

  .pager p {
    font-size: 15px;
  }
}

/*# sourceMappingURL=result.css.map */
